<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:C:\Users\Allan\Documents\UTFPR\Sistemas Distribuídos\sdservidor\sdservidor\src\main\resources\com\example\sdservidor\database\database.db</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>

        <!-- Echo all executed statements -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping annotated class -->
        <mapping class="com.example.sdservidor.Models.User" />
        <mapping class="com.example.sdservidor.Models.JwtSession" />
    </session-factory>
</hibernate-configuration>